.header {
  color: rgba($color: white, $alpha: 0.8);
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

.loader {
  max-width: 1200px;
  height: 320px;
  border-radius: 24px;
}

.containerPopularMovies {
  margin: 40px 0;
}